* { box-sizing:border-box; margin:0; padding:0; }
body, html, #root, .App { height:100%; font-family:'Courier New', monospace; }
html {
  font-size: 16px; 
}
:root {
  /* Шрифты */
  --font-base: 1rem;
  --font-semi: 2rem;        /* = 16px по-умолчанию */
  --font-large: 3rem;     /* = 24px */
  --font-small: 0.875rem;   /* = 14px */

  /* Семейство шрифтов */
  --font-family: 'JetBrains Mono', monospace;
  /* или --font-family: var(--main-font); если вы подключили Roboto */
}

.header {
  display:flex; justify-content:space-between;
  align-items:center; padding:12px 24px;
  background:#555;
}
.header__logo img { height:32px; }
.header__nav a {
  color:#fff; text-decoration:none; margin-left:16px;
  font-size:1rem;
}
.header__nav a:hover { text-decoration:underline; }

/* Общий контейнер-табличка */
.table {
  font-family: var(--font-family);
  font-size: var(--font-base);
  width:60%; max-width:100rem;
  height:70% auto; max-height: 100rem;
  margin:10rem auto; padding:4rem;
  background:#444; color:#fff;
  border-radius:5rem;
  text-align:center;
}
.table button {
  margin-top:2rem;
  padding:1rem 2rem;
  background:#ccc;color:#000;
  border:none; text-decoration:underline;
  cursor:pointer;
  font-size: var(--font-large);
  font-family:inherit;
}
.table input, .table select {
  display:block;
  width:100%; max-width:300px;
  margin:8px auto;
  padding:8px;
  border-radius:4px;
  border:none;
}
.table label { display:block; margin-top:12px; font-size:14px; }
.table h1 {
  font-size: var(--font-large);
  margin-top: 4rem;
  margin-bottom: 2.5rem; /* отступ ниже */
}
.table p {
  font-size: var(--font-semi);
  margin-bottom: 3rem; /* отступ ниже */
}
.devices-list {
  display:flex; justify-content:space-around;
  flex-wrap:wrap;
}
.device-card {
  width:30%; min-width:120px;
  background:#555; padding:8px;
  margin:8px; border-radius:8px;
}
.device-card button {
  margin-top:8px;
}
